{{define "partials/header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{if .meta.title}}{{.meta.title}}{{else}}BurnCloud{{end}}</title>
    <meta name="keywords" content="{{if .meta.keywords}}{{.meta.keywords}}{{else}}BurnCloud{{end}}">
    <meta name="description" content="{{if .meta.description}}{{.meta.description}}{{else}}BurnCloud{{end}}">
    <link rel="stylesheet" type="text/css" href="/static/css/react-ui.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/react-index.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
</head>
<body>
    {{template "partials/navbar" .}}
{{end}}