{{define "partials/navbar"}}
<header class="semi-layout-header" style="padding: 0px; height: auto; line-height: normal; position: fixed; width: 100%; top: 0px; z-index: 100; box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 6px;">
	<section class="semi-layout">
		<div style="width: 100%;">
			<div class="semi-navigation topnav semi-navigation-horizontal" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px; border-bottom: 1px solid var(--semi-color-border); background: var(--semi-color-bg-0); transition: all 0.3s ease 0s; width: 100%;">
				<div class="semi-navigation-inner">
					<div class="semi-navigation-header-list-outer">
						<div class="semi-navigation-header"><i class="semi-navigation-header-logo">
								<div style="display: flex; align-items: center; gap: 10px; padding: 0px 10px; height: 100%;"><img src="/logo.png" alt="logo" style="height: 28px;"></div>
							</i><span class="semi-navigation-header-text">
								<div style="position: relative; display: inline-block;"><span style="
                                -webkit-text-fill-color: transparent;
                                font-weight: bold;
                                font-size: 18px;
                                background: linear-gradient(45deg, rgb(249, 115, 22), rgb(220, 38, 38));
                                -webkit-background-clip: text;
                                background-clip: text;
                                color: transparent;
                                padding: 0 5px;
                                ">BurnCloud AI API</span>
								</div>
							</span></div>
						<div class="semi-navigation-list-wrapper">
							<ul role="menu" aria-orientation="horizontal" class="semi-navigation-list">
								<div><a class="header-bar-text" href="/" style="text-decoration: none;">
										<li role="menuitem" tabindex="0" aria-disabled="false" class="semi-navigation-item-normal semi-navigation-item"><i class="semi-navigation-item-icon semi-navigation-item-icon-info"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
													viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" style="font-size: 18px; transition: all 0.3s ease 0s;">
													<path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path>
													<path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
												</svg></i><span class="semi-navigation-item-text">Home</span></li>
									</a></div>
								<div><a class="header-bar-text" href="/detail" style="text-decoration: none;">
										<li role="menuitem" tabindex="0" aria-disabled="false" class="semi-navigation-item-normal semi-navigation-item"><i class="semi-navigation-item-icon semi-navigation-item-icon-info"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
													viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" style="font-size: 18px; transition: all 0.3s ease 0s;">
													<rect width="7" height="9" x="3" y="3" rx="1"></rect>
													<rect width="7" height="5" x="14" y="3" rx="1"></rect>
													<rect width="7" height="9" x="14" y="12" rx="1"></rect>
													<rect width="7" height="5" x="3" y="16" rx="1"></rect>
												</svg></i><span class="semi-navigation-item-text">Console</span></li>
									</a></div>
								<div><a class="header-bar-text" href="/pricing" style="text-decoration: none;">
										<li role="menuitem" tabindex="0" aria-disabled="false" class="semi-navigation-item-normal semi-navigation-item"><i class="semi-navigation-item-icon semi-navigation-item-icon-info"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
													viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" style="font-size: 18px; transition: all 0.3s ease 0s;">
													<path d="M12.586 2.586A2 2 0 0 0 11.172 2H4a2 2 0 0 0-2 2v7.172a2 2 0 0 0 .586 1.414l8.704 8.704a2.426 2.426 0 0 0 3.42 0l6.58-6.58a2.426 2.426 0 0 0 0-3.42z"></path>
													<circle cx="7.5" cy="7.5" r=".5" fill="currentColor"></circle>
												</svg></i><span class="semi-navigation-item-text">Pricing</span></li>
									</a></div>
								<div><a class="header-bar-text" href="/faq" style="text-decoration: none;">
										<li role="menuitem" tabindex="0" aria-disabled="false" class="semi-navigation-item-normal semi-navigation-item"><i class="semi-navigation-item-icon semi-navigation-item-icon-info"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
													viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" style="font-size: 18px; transition: all 0.3s ease 0s;">
													<circle cx="12" cy="12" r="10"></circle>
													<path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
													<path d="M12 17h.01"></path>
												</svg></i><span class="semi-navigation-item-text">FAQ</span></li>
									</a></div>
								<div><a class="header-bar-text" href="/about" style="text-decoration: none;">
										<li role="menuitem" tabindex="0" aria-disabled="false" class="semi-navigation-item-normal semi-navigation-item"><i class="semi-navigation-item-icon semi-navigation-item-icon-info"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
													viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" style="font-size: 18px; transition: all 0.3s ease 0s;">
													<circle cx="12" cy="12" r="10"></circle>
													<path d="M12 16v-4"></path>
													<path d="M12 8h.01"></path>
												</svg></i><span class="semi-navigation-item-text">About</span></li>
									</a></div>
							</ul>
						</div>
					</div>
					<div class="semi-navigation-footer"><button type="button" role="switch" aria-checked="false" autocomplete="off"
							style="width: 36px; height: 36px; border-radius: 50%; display: flex; align-items: center; justify-content: center; cursor: pointer; border: none; transition: all 0.3s ease 0s; margin: 0px 8px; background-color: rgb(243, 244, 246); color: rgb(243, 244, 246);">🌙</button>
						<div><a class="header-bar-text" href="/" style="text-decoration: none;">
								<li role="menuitem" tabindex="0" aria-disabled="false" class="semi-navigation-item-normal semi-navigation-item" data-popupid="78iwui3"><span class="semi-navigation-item-text">EN</span></li>
							</a></div>
						<div><a class="header-bar-text" href="/login" style="text-decoration: none;">
								<li role="menuitem" tabindex="0" aria-disabled="false" class="semi-navigation-item-normal semi-navigation-item"><i class="semi-navigation-item-icon semi-navigation-item-icon-info"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
											fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" style="font-size: 18px; transition: all 0.3s ease 0s;">
											<path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path>
											<circle cx="12" cy="7" r="4"></circle>
										</svg></i><span class="semi-navigation-item-text">Sign in</span></li>
							</a></div>
						<div><a class="header-bar-text" href="/register" style="text-decoration: none;">
								<li role="menuitem" tabindex="0" aria-disabled="false" class="semi-navigation-item-normal semi-navigation-item"><i class="semi-navigation-item-icon semi-navigation-item-icon-info"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
											fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" style="font-size: 18px; transition: all 0.3s ease 0s;">
											<path
												d="M16.555 3.843l3.602 3.602a2.877 2.877 0 0 1 0 4.069l-2.643 2.643a2.877 2.877 0 0 1-4.069 0l-.301-.301l-6.558 6.558a2 2 0 0 1-1.239.578l-.175.008h-1.172a1 1 0 0 1-.993-.883l-.007-.117v-1.172a2 2 0 0 1 .467-1.284l.119-.13l.414-.414h2v-2h2v-2l2.144-2.144l-.301-.301a2.877 2.877 0 0 1 0-4.069l2.643-2.643a2.877 2.877 0 0 1 4.069 0z">
											</path>
										</svg></i><span class="semi-navigation-item-text">Sign up</span></li>
							</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</header>
{{end}}
