version: '3.4'

services:
  burncloud-aiapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: burncloud-aiapi
    restart: always
    command: --log-dir /app/logs
    ports:
      - 3000:3000
    volumes:
      # - ./data:/data
      - ./logs:/app/logs
      - ./public/static:/data/public/static
      - ./public/uploads:/data/public/uploads
    environment:
      - SQL_DSN=${SQL_DSN}
      - GLOBAL_API_RATE_LIMIT_ENABLE=false
      - GLOBAL_API_RATE_LIMIT=300
      - GLOBAL_API_RATE_LIMIT_DURATION=60
      - GLOBAL_WEB_RATE_LIMIT_ENABLE=false
      - GLOBAL_WEB_RATE_LIMIT=300
      - GLOBAL_WEB_RATE_LIMIT_DURATION=60
      - CONSOLE_JWT_SECRET=${CONSOLE_JWT_SECRET}
      - CONSOLE_API_DOMAIN=${CONSOLE_API_DOMAIN}
      - GENERATE_DEFAULT_TOKEN=${GENERATE_DEFAULT_TOKEN}
      - REDIS_CONN_STRING=${REDIS_CONN_STRING}
      - ERROR_LOG_ENABLED=true # 是否启用错误日志记录
      - NODE_TYPE=${NODE_TYPE}
      - API_REQUEST_LOG_ENABLED=${API_REQUEST_LOG_ENABLED} # 启用API请求详细追踪
      - GEMINI_VISION_MAX_IMAGE_NUM=${GEMINI_VISION_MAX_IMAGE_NUM}
      #- TZ=Asia/Shanghai
      - TZ=America/New_York
    depends_on:
      - burncloud-aiapi-redis
      - burncloud-aiapi-mysql
    healthcheck:
      test: [ "CMD-SHELL", "curl -sf http://localhost:3000/api/status > /dev/null" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - nginx-network  # 使用独立的虚拟网络

  burncloud-aiapi-redis:
    image: redis:latest
    container_name: burncloud-aiapi-redis
    restart: always
    volumes:
      - ./redis_data:/data
    networks:
      - nginx-network  # 使用独立的虚拟网络

  burncloud-aiapi-mysql:
    image: mysql:8.2
    container_name: burncloud-aiapi-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: burncloud123456!qwf
      MYSQL_DATABASE: new-api
      MYSQL_CHARACTER_SET_SERVER: utf8mb4
      MYSQL_COLLATION_SERVER: utf8mb4_unicode_ci
    volumes:
      - ./mysql_data:/var/lib/mysql
    #ports:
    #  - "3306:3306"
    networks:
      - nginx-network  # 使用独立的虚拟网络

  # 添加 phpMyAdmin 服务
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: burncloud-aiapi-phpmyadmin
    restart: always
    environment:
      # 设置 phpMyAdmin 默认连接的主机名为 MySQL 服务的容器名称
      PMA_HOST: burncloud-aiapi-mysql
      # 允许使用 root 账户和密码登录（可选，更安全的方式是创建单独用户）
      MYSQL_ROOT_PASSWORD: burncloud123456!qwf 
    ports:
      - "8888:80" # 将 phpMyAdmin 暴露在主机的 8080 端口
    networks:
      - nginx-network  # 加入同一个网络，确保能连接到 MySQL
    depends_on:
      - burncloud-aiapi-mysql

networks:
  nginx-network:
    external: true  # 声明为外部网络